/*VARIABLES*/
:root{
    --mx-width: 1320px;
    --color-text-body: #D3D3D4;
    --color-primary: #FFDC60;
    --color-secondary: #D3D3D4;
    --color-banner: #47474b;
    --color-text-btn: #fff;
    --color-bg-btn: #6cc6d6;
    --color-subtitle: #c75c6f;
    --color-title: #D3D3D4;
    --color-bg-services: #27272E;
    --color-bg-projects: #292930;
    --color-bg-dark: #27272e;
    --color-hover-dark: #FFDC60;
    --color-hover-dark2: #303035;
    --color-text-description: #99A1AA;
    --color-borders: #393940;
}

/*FFDC60*/

body{
    background-color: #212121;
}

.navbar__link-logo{
    width: 187px;
    height: 60px;
    background-image: url(../img/logo2.png);
}

.banner__btn,
.contact__btn,
.fleft__btn{
    color: var(--color-hover-dark2);
    background-color: var(--color-bg-btn);
    box-shadow: none;
}

.banner__btn:hover,
.contact__btn:hover,
.fleft__btn:hover{
    color: var(--color-hover-dark2);
    background-color: var(--color-primary);
    box-shadow: none;
}

.menu__navbar--fixed{
    background-color: var(--color-banner);
}

.project__content{
    background-color: var(--color-banner);
}

.layout__contact::before{
    background-color: var(--color-banner);
}

.contact__subtitle{
    color: var(--color-hover-dark);
}


.fleft__group{
    background-color: #27272E;
    box-shadow: none;
}

.fleft__form-control{
    background-color: #27272E;
}

.nav__submenu{
    background-color: var(--color-banner);
}

.nav__title:hover{
    color: var(--color-secondary);
}

.nav__title::before{
    background-color: var(--color-secondary);
}

.submenu__title:hover{
    color: var(--color-secondary)
}

.submenu__title::after{
    background-color: var(--color-secondary);
}

.services__service{
    background: var(--color-banner);
    background-color: var(--color-banner);
}

.project__title:hover{
    color: var(--color-hover-dark);
}

.stat__count{
    color: var(--color-hover-dark);
}

.stats__stat:hover{
    background: linear-gradient(180deg, var(--color-bg-dark), var(--color-hover-dark2));
    border: 1px solid var(--color-hover-dark2);
}

.author__name{
    color: var(--color-secondary);
}

.new__more{
    color: var(--color-text-body);
}

.widget__link:hover{
    color: var(--color-hover-dark);
}

.switcher{
    background-color: var(--color-primary);
}

.switcher__icon-light,
.switcher__icon-dark{
    color: var(--color-text-btn);
    font-size: 1.8rem;
    height: 4rem;
    width: 4rem;
    line-height: 3.6rem;
}

.switcher__icon-dark{
    display: block;
}

.switcher__icon-light{
    display: none;
}

